.icon-size {
  width: 25px!important;
   height: 25px!important
}
.cursor-pointer{
  cursor: pointer!important;
}

@media (max-width: 768px) {
  .order-revew {
    display: none
  }
  .d-none-mobile {
    display: none;
  }
}